---
const formspreeKey = import.meta.env.FORMSPREE_KEY;
---

<section class="container" id="contact">
	<div class="glass-card card">
		<h2>Contactez moi !</h2>
		<div class="wrapper">
			<div class="links">
				<h3>Contactez moi par téléphone ou sur WhatsApp</h3>
				<a class="button secondary" href="tel:+33610524650">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256">
						<path
							d="M222.37,158.46l-47.11-21.11-.13-.06a16,16,0,0,0-15.17,1.4,8.12,8.12,0,0,0-.75.56L134.87,160c-15.42-7.49-31.34-23.29-38.83-38.51l20.78-24.71c.2-.25.39-.5.57-.77a16,16,0,0,0,1.32-15.06l0-.12L97.54,33.64a16,16,0,0,0-16.62-9.52A56.26,56.26,0,0,0,32,80c0,79.4,64.6,144,144,144a56.26,56.26,0,0,0,55.88-48.92A16,16,0,0,0,222.37,158.46ZM176,208A128.14,128.14,0,0,1,48,80,40.2,40.2,0,0,1,82.87,40a.61.61,0,0,0,0,.12l21,47L83.2,111.86a6.13,6.13,0,0,0-.57.77,16,16,0,0,0-1,15.7c9.06,18.53,27.73,37.06,46.46,46.11a16,16,0,0,0,15.75-1.14,8.44,8.44,0,0,0,.74-.56L168.89,152l47,21.05h0s.08,0,.11,0A40.21,40.21,0,0,1,176,208Z"
						></path>
					</svg>
					06 10 52 46 50
				</a>
				<h3>Envoyez moi un e-mail</h3>
				<a class="button secondary" href="mailto:contact@doglife.ovh">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256">
						<path
							d="M224,48H32a8,8,0,0,0-8,8V192a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A8,8,0,0,0,224,48ZM203.43,64,128,133.15,52.57,64ZM216,192H40V74.19l82.59,75.71a8,8,0,0,0,10.82,0L216,74.19V192Z"
						></path>
					</svg>
					contact@doglife.ovh
				</a>
				<h3>Rejoignez moi sur mes réseaux</h3>
				<div class="social-wrapper">
					<a
						class="button secondary"
						href="https://www.instagram.com/doglife.ovh/"
						target="_blank"
						rel="noopener noreferrer"
					>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256">
							<path
								d="M128,80a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160ZM176,24H80A56.06,56.06,0,0,0,24,80v96a56.06,56.06,0,0,0,56,56h96a56.06,56.06,0,0,0,56-56V80A56.06,56.06,0,0,0,176,24Zm40,152a40,40,0,0,1-40,40H80a40,40,0,0,1-40-40V80A40,40,0,0,1,80,40h96a40,40,0,0,1,40,40ZM192,76a12,12,0,1,1-12-12A12,12,0,0,1,192,76Z"
							></path>
						</svg>
						Instagram
					</a>
					<a
						class="button secondary"
						href="https://www.facebook.com/Doglife.34AU/"
						target="_blank"
						rel="noopener noreferrer"
					>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256">
							<path
								d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm8,191.63V152h24a8,8,0,0,0,0-16H136V112a16,16,0,0,1,16-16h16a8,8,0,0,0,0-16H152a32,32,0,0,0-32,32v24H96a8,8,0,0,0,0,16h24v63.63a88,88,0,1,1,16,0Z"
							></path>
						</svg>
						Facebook
					</a>
				</div>
			</div>
			<form class="form" action=`https://formspree.io/f/${formspreeKey}` method="post">
				<h3>Ou envoyez moi directement un message</h3>
				<div>
					<label class="label" for="name">Votre nom</label>
					<input class="input" name="Nom" id="name" type="text" required />
				</div>
				<div>
					<label class="label" for="email">Votre e-mail</label>
					<input class="input" name="Email" id="email" type="email" required />
				</div>
				<div>
					<label class="label" for="message">Votre message</label>
					<textarea class="input" name="Message" id="message" required></textarea>
				</div>
				<button class="button" type="submit">Envoyez le message !</button>
			</form>
		</div>
	</div>
</section>

<style>
	.card {
		padding: var(--lg) var(--xl);
	}
	h2 {
		margin-bottom: var(--lg);
	}
	.wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--xl);
	}
	.links h3 {
		margin-bottom: var(--lg);
	}
	.links h3:not(:first-child) {
		margin-top: var(--xl);
	}
	.form {
		display: grid;
		gap: var(--lg);
	}
	.label {
		display: block;
		margin-bottom: var(--sm);
	}
	.input {
		display: block;
		width: 100%;
		padding: var(--md);
		border-radius: var(--sm);
		border: 1px solid var(--color-base-secondary);
	}
	textarea {
		resize: vertical;
		width: 100%;
	}
	.social-wrapper {
		display: flex;
		gap: var(--sm);
		align-items: center;
		flex-wrap: wrap;
	}

	@media screen and (max-width: 850px) {
		.wrapper {
			grid-template-columns: 1fr;
		}
	}
</style>
