---
import Card from "@components/base/Card.astro";
import SeeMoreLink from "@components/base/SeeMoreLink.astro";
import IntroCarousel from "@components/landing/IntroCarousel.astro";
---

<section class:list={["container", "intro"]}>
	<Card class="card">
		<h2>Bienvenue chez Dog Life !</h2>
		<p>
			Vous avez fait le premier pas en décidant d'éduquer votre chien. Vous êtes sur le point de découvrir tout ce dont
			votre compagnon à quatre pattes est capable et de créer une relation encore plus forte avec lui.
		</p>
		<p>
			Chez Dog Life, nous comprenons que chaque chien est unique et qu'il a ses propres besoins. C'est pourquoi nous
			proposons des solutions personnalisées et adaptées à chaque situation.
		</p>
		<p>
			Alexis Uribe, éducateur canin expérimenté et passionné, vous accompagnera dans ce processus d'apprentissage avec
			bienveillance et professionnalisme.
		</p>
		<SeeMoreLink href="/nous">En savoir plus</SeeMoreLink>
	</Card>
	<IntroCarousel />
</section>

<style>
	.intro {
		display: grid;
		grid-template-columns: 1fr 1fr;
		place-items: stretch stretch;
		gap: var(--lg);
	}

	.card {
		padding: var(--lg) var(--xl);
		display: grid;
		gap: var(--md);
	}
	.image {
		border-radius: var(--md);
		object-fit: cover;
		width: 100%;
	}

	@media screen and (max-width: 1000px) {
		.intro {
			grid-template-columns: 1fr;
		}
	}
</style>
