---
import Introduction from "@components/landing/Introduction.astro";
import Services from "@components/landing/Services.astro";
import Layout from "@layouts/Layout.astro";

const meta = {
	title: "Dog Life: Éducateur canin à Montpellier",
	description:
		"L'éducation canine positive à Montpellier avec Dog Life : Dog Life vous accompagne et vous guide grâce à des méthodes d'éducation positives et modernes. Apprenez à comprendre les besoins de votre chien et à mieux vous faire comprendre de lui.",
};
---

<Layout meta={meta} showHero={true}>
	<main>
		<Introduction />
		<Services />
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore labore quibusdam corporis qui repellat ullam
			assumenda, ut, laboriosam possimus illum eligendi quisquam dignissimos! Sit cupiditate, dolore quae vitae ea
			consectetur? Eveniet dolores aut eaque sit totam, vitae, nesciunt eos exercitationem amet eius perferendis,
			sapiente voluptates porro sunt ut esse! Ullam, possimus accusantium! Impedit aliquid sed, eaque doloremque error
			neque delectus. Et quaerat sit eligendi incidunt eveniet laborum quo dolorum totam quos sed tenetur placeat, in
			laboriosam harum. Architecto ut reiciendis debitis deserunt similique cumque quos illo, suscipit accusantium,
			voluptatem ab. Nihil quisquam ut facere quaerat unde mollitia illum, reprehenderit placeat nesciunt dolor rem qui
			fuga, dolores labore aperiam suscipit quibusdam optio voluptatem repudiandae maiores ea dolorem laborum nemo
			doloremque. Fugiat. Ratione saepe libero perspiciatis impedit voluptates neque voluptatibus repellat dolorum
			repudiandae ipsum dolor consequuntur quaerat voluptas maiores accusamus ex sunt ab quod, amet, perferendis nulla
			hic atque facilis voluptate. Distinctio.
		</p>
	</main>
</Layout>

<style>
	main {
		margin-block: var(--4xl);
		display: grid;
		gap: var(--4xl);
	}
</style>
