---
import Layout from "@layouts/Layout.astro";

const meta = {
	title: "Dog Life: Éducateur canin à Montpellier",
	description:
		"L'éducation canine positive à Montpellier avec Dog Life : Dog Life vous accompagne et vous guide grâce à des méthodes d'éducation positives et modernes. Apprenez à comprendre les besoins de votre chien et à mieux vous faire comprendre de lui.",
};
---

<Layout meta={meta}>
	<main>
		<h1>Hello world !</h1>
		<p>parargaphe</p>
		<p class="bold">paragraphe bold</p>
	</main>
</Layout>
