---
interface Props {
	class: string;
}

const { class: className, ...rest } = Astro.props;
---

<div class:list={["card", className]} {...rest}>
	<slot />
</div>

<style>
	.card {
		border-radius: var(--md);
		position: relative;
		background: linear-gradient(120deg, hsla(0, 0%, 100%, 80%), hsla(0, 0%, 100%, 50%));
		box-shadow: var(--glass-shadow);
	}
	.card::after {
		content: "";
		position: absolute;
		inset: -1px;
		z-index: -1;
		border-radius: inherit;
		background: linear-gradient(120deg, hsla(0, 0%, 100%, 100%), hsla(0, 0%, 100%, 70%));
	}
</style>
